* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    min-width: 90vw;
    min-height: 90vh;
  }

.navigation-bar {
    padding: 40px 40px;
    z-index: 1;
    position: absolute;
    width: 85%;
    margin-left: 5%;
    display: flex;
    align-items: flex-start;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .logo {
    height: 40px;
    margin-right: auto;
  }

/* .nav-part {

} */

.lang-logo {
    filter: invert();
    position: absolute;
    top: 48px;
    right: 19%;
}

header select {
    background: transparent;
    padding: 10px 25px;
    border-radius: 3px;
    font-size: 16px;
    color: #fff;
    text-align: right;
    padding-right: 5px;
}

select option {
    background-color: #6d6464;
}

.sign-in-btn {
    padding: 10px 20px;
    border-radius: 3px;
    background-color: #e50914;
    color: #fff;
    margin-left: 30px;
}

.sign-in-btn a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}


.background-div {
    z-index: -1;
    background-image: url(../content/netflix-home.jpg);
    width: 100%;
    height: 95vh;
    position: absolute;
    background-size: cover;
    background-position: center;
    box-shadow: 120px -100px 250px #000000, inset -120px -100px 250px #000000;
    opacity: 0.6;
}


.main-part {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.main-part h1 {
    font-size: 50px;
    font-weight: 400;
    max-width: 640px;
}
.main-part h2 {
    font-size: 26px;
    padding: 10px 0;
}
.main-part p {
    font-size: 22px;
    padding: 15px 0 25px;
}

.main-part input {
    width: 550px;
    height: 3.6rem;
    font-size: 22px;
    text-align: left;
    display: inline-block;
    border-radius: 3px;
    padding-left: 20px;
}

.main-part input:focus {
    outline: none;
}

.main-part .get-started-btn {
    background-color: #e50914;
    height: 3.8rem;
    width: 200px;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    bottom: 0;
    right: 0;

}

.main-part .get-started-btn:focus {
    outline: none;
}

.get-started-btn a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;

}


/* from here sections of page starts  */

section {
    border-top: 7px solid #333;
    display: flex;
    padding: 50px 5%;
}

section h1 {
    font-size: 48px;
}

section p {
    font-size: 1.6em;
}

/* First section */

.first-section-text {
    margin: auto;
}

.img-video-1 {
    max-width: 100%;
    height: auto;
}

.video-1 {
    position: absolute;
    right: 142px;
    width: 360px;
    top: 106.3%;
    z-index: -1;
}


/* Second section */


.second-section-text {
    margin: auto;
}

.img-2 {
    max-width: 100%;
    height: auto;
    border: 0;
}

/* .download{
    border: 2px solid #fff;
    padding: 5px;
    height:100px;
    width:350px;
    gap:1em;
    margin-left: 50px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
}
.poster{
    height:20px;
    width:45px;
}
.gif{
    height:10px;
    width: 10px;
} */


/* Third section */

.third-section-text {
    margin: auto;
}

.video-2 {
    width: 410px;
    position: absolute;
    right: 13%;
    top: 221%;
    z-index: -1;
}

/* Fourth section */

.fourth-section-text {
    margin: auto;
}

/* FAQ - Frequently asked questions */


.FAQ {
    border-top: 10px solid #333;
    padding: 50px 5%;
}

.FAQ-h1 {
    font-size: 27px;
    padding: 5%;
    margin-bottom: 4%;
    text-align: center;
}


.FAQ-questions {
    width: 55%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.FAQ-questions h2 {
    font-size: 26px;
    background-color: #333;
    padding: 30px;
    margin-bottom: 10px;
}

.FAQ p {
    font-size: 22px;
    padding: 60px 0 35px;
    text-align: center;
}

.FAQ-email {
    position: absolute;
    margin-left: 23%;
}

.FAQ-email input {
    width: 550px;
    height: 3.6rem;
    font-size: 22px;
    text-align: left;
    padding-left: 20px;
    border-radius: 3px;

}
.FAQ-email input:focus {
    outline: none;
}

.FAQ-btn {
    background-color: #e50914;
    height: 3.8rem;
    text-align: center;
    border-radius: 3px;
    width: 200px;
    position: relative;
    right: 18%;
    padding-bottom: 2px;
}
.FAQ-btn:focus {
    outline: none;
}

.FAQ-btn a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
}



/* Footer  */

footer {
    border-top: 7px solid #333;
    border-bottom: 7px solid #333;
    margin-top: 5%;
    padding: 5%;
    color: #737373;
}

footer p {
    margin-left: 12.5%;
    font-size: 16px;
}

footer p a {
    text-decoration: none;
    color: #737373;
}
footer p a:hover {
    text-decoration: underline;
}



.footer-li {
    width: 75%;
    margin: 50px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
}

.footer-li ul {
    display: block;
}

.footer-li ul li {
    list-style: none;
    line-height: 2;
}

.footer-li ul a {
    text-decoration: none;
    color: #737373;
    font-size: 16px;
}
.footer-li ul a:hover {
    text-decoration: underline;
}




/* .footer-lang-logo {
    filter: invert();
} */

footer select {
    background: transparent;
    color: #737373;
    border-radius: 3px;
    text-align: center;
    padding: 10px 25px;
    border: 1px solid #737373;
    margin-left: 12%;
}

footer p {
    font-size: 16px;
    margin-top: 20px;
    margin-left: 12%;
}