* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
    color: #333;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-size: 16px;
}


/* HEADER */

.header {
    display: flex;
    position: absolute;
    padding: 26px 56px;
    z-index: 9999;
}



.logo-img {
    position: absolute;
    height: 36px;
    line-height: normal;
    /* fill: #e50914; */
    z-index: 99999;
}

.language-logo {
    position: absolute;
    margin: 6px;
    padding: 2px;
    height: 19px;
    z-index: 99999;
}

.navigation-2 {
    text-align: right;
}

select {
    border: 1px solid #fff;
    background: transparent;
    border-radius: 3px;
    font-weight: 400;
    display: inline-block;
    color: #fff;
    padding: 7px 17px;
    padding-right: 5px;
    padding-left: 22px;
    margin-right: 30px;
    line-height: 1.4em;
    white-space: nowrap;
    z-index: 99999;
    overflow: hidden;
}

option {
    z-index: 99999;
    background-color: #333;
}


