* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #333;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}


/* HEADER */

.header {
    display: flex;
    padding: 26px 56px;
    z-index: 999999;
}

.header-1 {
    justify-content: space-between;
    display: flex;
    margin-right: 10px;
}

.logo {
    height: 36px;
    width: auto;
    fill: #e50914;
    line-height: normal;
    display: block;
    position: absolute;
    z-index: 999999;
}


.header-2 {
    text-align: right;
    right: 80px;
    z-index: 999999;
    position: absolute;
}

.lang-logo {
    filter: invert();
    height: 22px;
    padding: 3px 3px 2px 0;
    margin: 5px;
    position: absolute;
    z-index: 999999;
}

select {
    border: 1px solid #fff;
    background-color: #333;
    color: #fff;
    padding: 7px 17px;
    padding-right: 5px;
    border-radius: 3px;
    line-height: 1.4em;
    white-space: nowrap;
    font-weight: 450;
    margin-right: 30px;
}


a {
    background-color: #e50914;
    text-decoration: none;
    color: #fff;
    padding: 7px 17px;
    display: inline-block;
    border-radius: 3px;
    font-weight: 100;
}






.background {
    width: 100%;
    background-image: radial-gradient();
    background-size: cover;
}




